<div class="row">
    <div class="card-body col-xl-6">
        <h4 class="card-title mb-4">Add Category</h4>
        <form action="">
            <fieldset class="form-group">
                <label class="form-label">Name Category</label>
                <input type="text" class="form-control" placeholder="" ng-model="inputValidate.name">
                <span  ng-show="!check.name" style="color:red">Please enter name category</span>    
                <span ng-show="!check.nameMinLenght" style="color:red">Category name must be at least 6 characters</span> <br>
            </fieldset>
            <button ng-click="onSubmitForm()" type="submit" class="btn btn-success mr-2">
                Submit
            </button>
            <a type="submit" ng-click="onCancel()" class="btn btn-danger">
                Cancel
            </a>
        </form>
    </div>
</div>